<form class="register_form">
    <p>
        <input type="text" name="first" value="{{ first }}" placeholder="First Name">
        <input type="text" name="last" value="{{ last }}" placeholder="Last Name">
    </p>
    <p>
        <input type="text" name="email" value="{{ email }}" placeholder="Email Address">
    </p>
    <p>
        <input type="text" name="username" value="{{ username }}" placeholder="Desired Username">
    </p>
    <p>
        <input type="password" name="password" value="{{ password }}" placeholder="Enter Password">
        <input type="password" name="confirm_password" value="{{ confirm_password }}" placeholder="Confirm Password">
    </p>
    <button type="button">Register</button>
    <div class="error">{{ login_error }}</div>
</form>
<a href="#login">Back to login</a>
<!-- TODO: add error handling -->